form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 390px;
  height: 400px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 10px;
}

.form-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input {
  border: none;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 5px;
}

button {
  padding: 15px 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
}
